<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1 style="text-align:center;">Inicia Sesion</h1>
        <form action="/user/login" method="POST">
            <div class="register-form">
                <div>
                <label for="username"><b>Nombre de Usuario</b></label><br>
                <input type="text" placeholder="Nombre de Usuario" name="username" id="username" 
                class="form-control <%= locals.errors && errors.username ? 'is-invalid' : locals.errors ? 'is-valid' : null %>" 
                               value="<%= locals.oldData ? oldData.username : null %>"><br>
                        <% if(locals.errors && errors.username) { %>
                            <div class="text-danger"><%= errors.username.msg %></div>
                        <% } %>
                
            </div>
            <div>
                <label for="password"><b>Password</b></label><br>
                <input type="password" placeholder="Contraseña" name="password" id="password" class="form-control"><br>
                <button type="submit" class="register-button form-control">Login</button>
                <p>No tenes cuenta? <a href="/user/register">Registrate</a></p>
            </div>
            </div>
        </form>
    </main>
</body>
</html>